*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
} 
h2{
     text-align: center;
}
#labelinput{
    font-size: 25px;
}
body{
    background-color: #9C27B0;
}
 .droparea{ 
        margin: auto;
       flex-direction: column;
        width: 300px;
        height: 100px;
        padding: 35px;
        margin-top: 10px;
        border-radius: 30px; 
         background-color: blue;
        box-shadow: 0 0 10px black;
        border: 3px dashed;
}
#input{
   margin: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px yellow;
   outline: none;
   font-size: 20px;
   margin-bottom: -10px;
}
.red-border{
    border-color: red;
}
.inputarea{
    height: 30vh;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.droparea i{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin-bottom: 10px;
}
.droparea p{
    text-align: center;
    margin: 5px;
}
#btn1{
   display: flex;
   justify-content: center;
   margin: auto;
   align-items: center;
   cursor: pointer;
   border-radius: 5px;
   font-size: 20px;
   margin-top: -60px;
}
#btn1:hover{
    background-color: rgb(25, 220, 237);
}
.red-border{
    border-color: red;
} 
.box{
   background-color: #03A9F4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    border: 1px solid rgb(0, 213, 255);
    width: 500px;
    height: 400px;
}
#btn2{
    /* display: flex; */
    justify-content:center;
    align-items: center;
    margin: auto;
    flex-direction: column;
     border-radius: 10px;
    font-size: 20px;
    width: 30px;
    height: 20px;
}